body {
  height: 100%;
  background-color: #000;
  margin: 0;
}
.Contenedor {
  background-color: brown;
  display: grid;
  grid-template-columns: 2fr 1.3fr;
  background: url(../../assets/images/AdobeStock_303980052_Preview.jpeg) left;
  height: 100vh;
  background-size: cover;
}

.ModalHijo {
  background-color: #000080;
}

.ant-btn {
  font-weight: bold;
  margin-top: 25px;
}
 

span.ant-input-affix-wrapper:nth-child(1) {
  margin-top: 20px;
  font-size: 16px;
  width: 260px;
}

span.ant-input-affix-wrapper:nth-child(2) {
  margin-top: 22px;
  font-size: 16px;
  width: 261px;
  margin-bottom: 25px;
}

.information > form:nth-child(1) {
  text-align: center;
}

.ant-alert {
  font-weight: 500;
  text-align: center;
  color: red;
}

.information > p:nth-child(2) {
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.information > p:nth-child(2) > a:nth-child(1) {
  color: #fff;
}
.label-content {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  margin-top: 14px;
  margin-bottom: 17px;
}
