body{
    height: 100%;
    background-color: #000;
    margin: 0;
  }
.Contenedor{
    background-color: brown;
    display: grid;
    grid-template-columns: 2fr 1.3fr;
    background: url(../../assets/images/AdobeStock_303980052_Preview.jpeg) left;
    height: 100vh;
    background-size: cover;
}

  .ModalHijo{
    background-color: #000080;
    
  }

  .ant-btn {
    font-weight: bold;
    }
  