.title-label {
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 120px;
}

body {
    height: 100%;
    background-color: #000;
    margin: 0;
}

.ModalHijo > div:nth-child(1) {
    text-align: center;
    margin-top: 55px;
}

div.ant-form-item:nth-child(1) > div:nth-child(1) > div:nth-child(1) > label:nth-child(1) {
    color: #fff;
}
div.ant-form-item:nth-child(2) > div:nth-child(1) > div:nth-child(1) > label:nth-child(1) {
    color: #fff;
}

div.ant-form-item:nth-child(3) > div:nth-child(1) > div:nth-child(1) > label:nth-child(1) {
    color: #fff;
}
div.ant-form-item:nth-child(4) > div:nth-child(1) > div:nth-child(1) > label:nth-child(1) {
    color: #fff;
}
div.ant-form-item:nth-child(1) > div:nth-child(1) > div:nth-child(1) > label:nth-child(1) {
    color: #fff;
}
div.ant-form-item:nth-child(5) > div:nth-child(1) > div:nth-child(1) > label:nth-child(1) {
    color: #fff;
}

div.ant-form-item:nth-child(6) > div:nth-child(1) > div:nth-child(1) > label:nth-child(1) {
    color: #fff;
}

.ant-input-affix-wrapper {
    width: 154px;
}

div.ant-form-item:nth-child(2) > div:nth-child(1) > div:nth-child(1) > label:nth-child(1) {
    height: auto;
}

div.ant-form-item:nth-child(1) > div:nth-child(1) {
    margin-top: 15px;
}

.title-container {
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 150px;
    margin-top: 115px;
}

.Contenedor {
    background-color: brown;
    display: grid;
    grid-template-columns: 2fr 1.3fr;
    background: url(../../assets/images/AdobeStock_303980052_Preview.jpeg) left;
    height: 100vh;
    background-size: cover;
}

div.ant-form-item:nth-child(2) > div:nth-child(1) {
    height: 32px;
}

#basic_cedula {
    width: 260px;
    margin-right: 20px;
}

#basic_full_names {
    width: 260px;
    margin-right: 20px;
}

#basic_celular {
    width: 260px;
    margin-right: 20px;
}

#basic_ciudad {
    width: 260px;
    margin-right: 20px;
}

#basic_correo {
    width: 260px;
    margin-right: 20px;
}

#basic_contrasenia {
    width: 260px;
    margin-right: 20px;
}

span.ant-input-affix-wrapper:nth-child(1) {
    margin-top: 5px;
    font-size: 16px;
    width: 260px;
}

#basic {
    margin-left: 20px;
}

.ant-btn {
    background-color: rgb(22, 119, 255);
    width: 230px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 6px;
}

div.ant-form-item:nth-child(6) > div:nth-child(1) {
    margin-left: 110px;
}

.ant-form-item-explain-error {
    margin-left: -240px;
}

.ant-form-item-margin-offset {
    margin-bottom: 0;
}

div.ant-form-item:nth-child(3) > div:nth-child(1) {
    margin-top: 25px;
}

div.ant-form-item:nth-child(6)
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(1)
    > span:nth-child(1)
    > input:nth-child(1) {
    width: 250px;
}

div.ant-form-item:nth-child(6) {
    margin-left: -106px;
}
div.ant-form-item:nth-child(5) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    width: 240px;
}

:where(.css-dev-only-do-not-override-k83k30).ant-form-item .ant-form-item-control-input-content {
    flex: initial;
    max-width: 100%;
}



.label-content {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 30px;
}


div.ant-form-item:nth-child(6) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    margin-top: -5px;
   }
   


#basic_cedula_help > div:nth-child(1) {
    margin-left: -150px;
  }

  #basic_full_names_help > div:nth-child(1) {
    margin-left: -150px;
  }

  #basic_celular_help > div:nth-child(1) {
    margin-left: -150px;
  }
  
  #basic_ciudad_help > div:nth-child(1) {
    margin-left: -150px;
  }
  
  #basic_correo_help > div:nth-child(1) {
    margin-left: -150px;
  }
  
  #basic_contrasenia_help > div:nth-child(1) {
    margin-left: -150px;
  }

.ant-notification-notice-message > div:nth-child(1) {
    text-align: center;
  }
  
  .ant-notification-notice-message > div:nth-child(1) > svg:nth-child(1) > path:nth-child(1) {
    margin-top: 14px;
  }
   