
   :where(.css-dev-only-do-not-override-k83k30).ant-layout .ant-layout-sider-children {
    height:100%;
    margin-top:0px;
    padding-top:1.1px;
   }
   

   .ant-layout-sider {
      background-color: rgb(0, 0, 128);
      height: 100vh;
      flex: 0 0 200px;
      max-width: 200px;
      min-width: 200px;
      width: 200px;
      border: solid 2px #ffff;
     }

     .ant-layout-footer {
      background-color: rgb(0, 0, 128);
      height: 64px;
      text-align: center;
     }
     .copyright {
      color: #ffff;
      font-weight: bold;
      font-size: 12px;
      margin-top: 2px;
  }

  #user-info {
   display: flex; /* permite alinear la imagen y el nombre en una fila */
   align-items: center; /* centra la imagen y el nombre verticalmente */
   margin-top: 15px;
   margin-bottom: 15px;
   color: #ffff;
   font-weight: 500;
 }
 
 #user-image {
   width: 50px; /* establece el ancho de la imagen */
   height: 50px; /* establece la altura de la imagen */
   border-radius: 50%; /* redondea los bordes de la imagen */
   margin-right: 10px; /* agrega un margen a la derecha de la imagen */
   margin-left: 10px;
 }
  
 .ant-layout-header > p:nth-child(1) {
   margin-top: 0px;
   font-size: 20px;
   font-weight: 800;
  }

  .ant-layout-header {
   background: rgb(0, 0, 128);
   color: rgb(255, 255, 255);
   text-align: center;
   font-size: 20px;
   font-weight: 800;
  }

  .ant-layout-sider-children > div:nth-child(5) {
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    z-index: 1;
   }
   
   .ant-layout-content {
    background-color: rgb(212, 212, 212);
    position: relative;
   }
   
  
  
   


     
   