:where(.css-dev-only-do-not-override-k83k30).ant-card .ant-card-body{
    height: 121px;
   }

   .Contenedor1 > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
   }
   
   .ant-pagination {
    margin-top: 40px;
   }
   
   