
   .Contenedor1 > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
   }
   
   .ant-pagination {
    margin-top: 15px;
   }

   .Contenedor1 > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > svg:nth-child(1) {
    font-size: 22px;
    margin-bottom: -4px;
    color: #000080;
   }
   
   .Contenedor1 > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 30px 0px 0px;
   }
   
   :where(.css-dev-only-do-not-override-k83k30).ant-card .ant-card-body {
    height: 165px;
   }

   .Contenedor2 > div:nth-child(2) {
      margin-left: 5px;
      margin-right: 5px;
      background: #fff;
      height: 445px;
     }
   
  
  .Contenedor1 > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    text-align: center;
    margin: 15px 5px 5px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px;
   }  